body {
    background-image: none;
}

.container {
    margin-top: 200px;
}

.card-header {
    background-color: #0378ed;
    color: white;
}

.card-body {
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
}
